<h4>密碼至少 8 碼，須包含英文大小寫、數字及符號各 1 個。 </h4>
<br />
<form action="/users/{{user.id}}/password?_method=PUT" method="POST">
  <div class="form-group">
    <label for="old-password">Old Password</label>
    <input type="password" class="form-control" name="OldPassword" id="old-password" placeholder="Enter old password"
      minlength="8" maxlength="255" autofocus required>
  </div>

  <div class="form-group">
    <label for="new-password">New Password</label>
    <input type="password" class="form-control" name="newPassword" id="new-password" placeholder="Enter new password"
      minlength="8" maxlength="255" required>
  </div>

  <div class="form-group">
    <label for="confirm-password">Confirm New Password</label>
    <input type="password" class="form-control" name="confirmPassword" id="confirm-password"
      placeholder="Enter new password again" minlength="8" maxlength="255" required>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<br />
<a href="javascript:history.back()">回上一頁</a>